:root{
    --white: #ddd;
    --dark: #111;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;
    --lightGreen: #86c232;
    --darkgreen: #61892f;
    --transition: all 0.5s ease;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    list-style: none;
}
body{
    line-height: 1.6;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6 p{
    margin: 15px 0;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    background: var(--darkgreen);
    border : none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px ;
    padding: 12px;
    border: 2px solid var(--darkgreen);
    border-radius: 35px;
    margin: 15px 0;
    transition: var(--transition);
}
.btn:hover {
    width: 170px;
}
.active{
    color: var(--lightGreen)!important;
}
.navbar-brand {
    letter-spacing: 5px;
    cursor: pointer;
}
.nav-item a:hover{
    color: var(--lightGreen) !important;
}


.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(/image/camera.jpg) center/cover no-repeat ;
    color: var(--white);
}
.about{
    padding-top:110px;
}

.about-content {
   width: 800px;
   display: block;
   margin: auto;
}

.about-content h1 {
    font-size: 72px;
    text-align: center;
    color: var(--lightGreen);
}
h2 {
    color: #fff;
    font-size: 36px;
    padding: 10px 15px;
    font-weight: 500;
    background: rgba(134, 194, 50, 0.1);
    text-align: center;
    letter-spacing: 5px;
}
blockquote {
    font-size: 24px;
    font-weight: 300;
    opacity: 0.9;
    text-align: center;
}
blockquote span {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--darkGreen);
    font-weight: 300;
    letter-spacing: 5px;
    display: block;
}
blockquote span {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--darkGreen);
    font-weight: 300;
    letter-spacing: 5px;
    display: block;
}
.social-icons {
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}
.social-icons ul {
    display: flex;
    justify-content: space-around;
}

.social-icons ul a {
    color: #fff;
    font-size: 30px;
    display: block;
    padding: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: var(--transition);
}
.social-icons ul a:hover {
    background: var(--lightGreen);
    border-color: var(--lightGreen);
}

section{
    background-color: #202020;
    color :var(--white);
    padding: 50px 0 50px;
}

.work-content {
    margin: 50px 0;
}

.section-two{
    background: #1b1b1b;
}
.section-2-content{
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.section-two h2 {
    text-align: center;
    font-size: 40px;
}

.section-two span {
    color: var(--lightGreen);
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.insta-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.insta-imgs>div {
    position: relative;
}

.icon-overlay {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: rgba(134, 194, 50, 0.4);
    opacity: 0;
    transition: var(--transition);
}

.insta-imgs>div:hover .icon-overlay {
    opacity: 1;
}

footer{
    background: #282323;
    color: var(--white);
    text-align: center;
}
footer h2{
    margin: 0;
}


@media (max-width: 800px){
    h1{
        font-size: 34px ;
    }
    h2{
        font-size: 28px;
    }
    .about-content{
        text-align: center;
        max-width: 100%;
        padding-top: 50px;
    }
       

}


